@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="maincontent-wrapper">
    <div class="card-grid">
     
        

    </div>
</div>

<div class="sidebar">
    <h5 class="text-white pb-5">JoesWeb</h5>
    <a class="nav-link" asp-area="" asp-page="/Index">Programming</a>
    <a class="nav-link active" asp-area="" asp-page="/Privacy">Management</a>
    <a class="nav-link" asp-area="" asp-page="/Service">Service</a>
    <a class="nav-link" asp-area="" asp-page="/Reports">Reports</a>
    <a class="nav-link" asp-area="" asp-page="/System">System</a>
    <a class="nav-link" asp-area="" asp-page="/Scheduling">Scheduling</a>
    <a class="nav-link" asp-area="" asp-page="/WVW Admin">Admin</a>
    <a class="nav-link" asp-area="" asp-page="/Logout">Logout</a>
</div>

